{% extends "base.html" %}

{% block content %}
  <div class="background-image"></div>
  <div class="home-square-bg">
    <div class="home-welcome p-5 text-center">
      <h4>Welcome to BARBERS FLO</h4>
      <p class="mt-5">
        Barbers Flo of Galway is the number one barber shop in the West of Ireland.
        <br>
        Our experienced team offers all types of treatments, from a simple beard trim to colors, to our special hot lather shave.
        <br>
        We would love the opportunity to be your Galway barber of choice.
      </p>
        <a class="btn btn-danger rounded-0 mt-5" href="/booking/">BOOK NOW</a>
    </div>
  </div>
{% endblock %}