{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Make a new reservation</h2>
                <h5>Choose the time</h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if availabilities%}
                {% for availability in availabilities %}
                    {% if forloop.counter == 1 or forloop.counter|add:-1|divisibleby:6 %}
                        <div class="col-4 col-md-3">
                    {% endif %}
                    {% if availability.available %}
                        <a href="{% url 'checkout' treatment.id barber.id availability.id %}"
                            class="btn btn-dark mt-1 time-button">{{ availability.time|time:'H:i' }}</a>
                    {% else %}
                        <a href="{% url 'checkout' treatment.id barber.id availability.id %}"
                            class="btn btn-dark mt-1 time-button disabled">{{ availability.time|time:'H:i' }}</a>
                    {% endif %}
                    {% if forloop.counter|divisibleby:6 or forloop.counter == availabilities|length %}
                        </div> 
                    {% endif %} 
                {% endfor %}
            {% else %}
                <h4>Sorry, there are no availabile spots for this day and barber</h4>
            {% endif %}
        </div>   
    </div>
{% endblock %}