{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Make a new reservation</h2>
                <h5>Choose the time</h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ treatment }}
        {{ day }}
        {{ barber.barber_name }}
        {{ availability.date }}
        <div class="row">
        {% for availability in availabilities %}
            {% if forloop.counter == 1 or forloop.counter|add:-1|divisibleby:6 %}
                <div class="col-3">
            {% endif %} 
                    <a href="{% url 'checkout' treatment.id barber.id availability.id %}"
                                class="btn btn-dark mt-1 time-button">{{ availability.time|time:'H:i' }}</a>
            {% if forloop.counter|divisibleby:6 %}
                </div> 
            {% endif %} 
        {% endfor %}
        </div>   
    </div>
{% endblock %}