<!-- {% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        {% include 'includes/new-booking-header.html' %}
        <form action="{% url 'checkout' treatment.id day barber.id availability.id %}" method="POST">
            {% csrf_token %}
            {{ treatment }}
            {{ availability.barber }}
            {{ availability.date }}
            {{ availability.time|time:"G:i" }}
            {{ treatment.duration }}
            {{ treatment.price }}
            <button type="submit">Confirm</button>
        </form>
        {% include 'includes/buttons-bottom.html' %}
    </div>
{% endblock %} -->