{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        {% include 'includes/new-booking-header.html' %}
        {% for day in days %}
            {% if day.0|date:"j" == '1' %}
                <div class="month">
                    <h4 class="my-3">{{ day.0|date:"F" }} {{ day.0|date:"Y" }}</h4>
                    <div class="row">
                        <div class="col-12 mx-5">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="col-1 day-week">Mon</th>
                                        <th class="col-1 day-week">Tue</th>
                                        <th class="col-1 day-week">Wed</th>
                                        <th class="col-1 day-week">Thu</th>
                                        <th class="col-1 day-week">Fri</th>
                                        <th class="col-1 day-week">Sat</th>
                                        <th class="col-1 day-week">Sun</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <!-- https://stackoverflow.com/a/14389078/16735714 -->
                                    {% with n=day.0|date:"w"|add:"-1" %}
                                        {% with ''|center:n as range %}
                                            {% for _ in range %}
                                                <td>{{ total }}</td>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endwith %}
                                    <td class="col-1">
                                        <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                                            {{ day.0|date:"d" }}
                                        </a>
                                    </td>
                        {% elif day.0|date:"w" == '1' %} 
                            <tr>
                                <td class="col-1">
                                    <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                                        {{ day.0|date:"d" }}
                                    </a>
                                </td>
                        {% elif  day.0|date:"w" == '0' %}
                                <td class="col-1">
                                    <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                                        {{ day.0|date:"d" }}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <td>
                                <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                                    {{ day.0|date:"d" }}
                                </a>
                            </td>
                        {% endif %}
                        {% if day.0|date:"j" == day.0|date:"t" %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="navigation-container">
			<strong>
				<a href="#" class="previous round" id="prev">&#8249;</a>
				<a href="#" class="next round" id="next">&#8250;</a>
			</strong>
		</div>
        {% include 'includes/buttons-bottom.html' %}
    </div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script>
        var months = $(".month");
        months.each(function(index) {
            if (index === 0) {
                this['active'] = true;
            } else {
                $(this).addClass("d-none");
                this['active'] = false;
            }
        });

        var next_button = $("#next");
        var prev_button = $("#prev");

        $(next_button).click(function() {
            var to_display;
            months.each(function(index) {
                if (this['active'] === true) {
                    this['active'] = false;
                    $(this).addClass("d-none");
                    to_display = index + 1;
                }
            });
            months.each(function(index) {
                if (index === to_display) {
                    this['active'] = true;
                    $(this).removeClass("d-none");
                }
            });
            console.log(to_display)
            console.log(months.length)
            if (to_display === months.length - 1) {
                next_button.addClass("link-disabled");
                prev_button.removeClass("link-disabled");
            } else {
                next_button.removeClass("link-disabled");
            };
        });
        $(prev_button).click(function() {
            var to_display;
            months.each(function(index) {
                if (this['active'] === true) {
                    this['active'] = false;
                    $(this).addClass("d-none");
                    to_display = index - 1;
                }
            });
            months.each(function(index) {
                if (index === to_display) {
                    this['active'] = true;
                    $(this).removeClass("d-none");
                }
            });
            if (to_display === 0) {
                prev_button.addClass("link-disabled");
                next_button.removeClass("link-disabled");
            } else {
                prev_button.removeClass("link-disabled");
            };
        });
    </script>
{% endblock %}
