{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Book Now</h2>
                <h5 class="text-muted">Make a new reservation</h5>
                <hr>
            </div>
        </div>
        {{ treatment }}
        {{ day }}
        {% for availability in availabilities %}
            <div class="availability col-3">{{ availability.barber.barber_name }}</div>
            <div class="availability col-3">{{ availability.date }}</div>
            <div class="availability col-3">{{ availability.time }}</div>
            <a href="{% url 'new_booking_4' treatment.id day barber.id %}" class="btn treatment-select col-4 col-md-2">Choose</a>
        {% endfor %}
        <div class="text-right">
            <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
            <button class="btn btn-black rounded-0" type="submit">Next</button>
        </div>
    </div>
{% endblock %}