{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        {% include 'includes/new-booking-header.html' %}
        {% for barber in barbers %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row">    
            {% endif %} 
                    <div class="card border-dark text-white bg-danger mb-3 mx-3 col-11 col-md-5 px-0">
                        {% if barber.profile_picture %}
                            <img src="{{ barber.profile_picture.url }}" class="card-img-top d-none d-md-block" alt="{{ barber.name }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image-icon.png" class="card-img-top d-none d-md-block" alt="{{ barber.name }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="text-center">
                                <a href="{% url 'new_booking_4' treatment.id day barber.id %}" class="btn btn-dark">{{ barber.barber_name }}</a>
                            </div>
                        </div>
                    </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>    
            {% endif %} 
        {% endfor %}
        {% include 'includes/buttons-bottom.html' %}
    </div>
{% endblock %}