{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        {% include 'includes/new-booking-header.html' %}
        {% for day in days %}
            {% if day.0|date:"j" == '1' %}
                <h4 class="month">{{ day.0|date:"F" }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th class="col-1 day-week">Mon</th>
                            <th class="col-1 day-week">Tue</th>
                            <th class="col-1 day-week">Wed</th>
                            <th class="col-1 day-week">Thu</th>
                            <th class="col-1 day-week">Fri</th>
                            <th class="col-1 day-week">Sat</th>
                            <th class="col-1 day-week">Sun</th>
                        </tr>
                    </thead>
                    <tr>
                        <!-- https://stackoverflow.com/a/14389078/16735714 -->
                        {% with n=day.0|date:"w"|add:"-1" %}
                            {% with ''|center:n as range %}
                                {% for _ in range %}
                                    <td>{{ total }}</td>
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                        <td class="col-1">
                            <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                                {{ day.0|date:"d" }}
                            </a>
                        </td>
            {% elif day.0|date:"w" == '1' %} 
                <tr>
                    <td class="col-1">
                        <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                            {{ day.0|date:"d" }}
                        </a>
                    </td>
            {% elif  day.0|date:"w" == '0' %}
                    <td class="col-1">
                        <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                            {{ day.0|date:"d" }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <td>
                    <a href="{% url 'new_booking_3' treatment.id day.0 %}" class="btn {% if day.1 == False %}disabled{% endif %}">
                        {{ day.0|date:"d" }}
                    </a>
                </td>
            {% endif %}
            {% if day.0|date:"j" == day.0|date:"t" %}
                </table>
            {% endif %}
        {% endfor %}
        {% include 'includes/buttons-bottom.html' %}
    </div>
{% endblock %}