{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        {% include 'includes/new-booking-header.html' %}
        {{ treatment }}
        {{ day }}
        {{ barber.barber_name }}
        {{ availability.date }}
        <div class="row">
        {% for availability in availabilities %}
            {% if forloop.counter == 1 or forloop.counter|add:-1|divisibleby:6 %}
                <div class="col-3">
            {% endif %} 
                    <a href="{% url 'checkout' treatment.id barber.id availability.id %}"
                                class="btn btn-dark mt-1 time-button">{{ availability.time|time:'H:i' }}</a>
            {% if forloop.counter|divisibleby:6 %}
                </div> 
            {% endif %} 
        {% endfor %}
        </div>   
        {% include 'includes/buttons-bottom.html' %}
    </div>
{% endblock %}