body {
    color: white;
    background-color: #6c757d;
}

.nav-container {
    height: 6vh;
}

.nav-block {
    height: 6vh;
}

.time-button {
    width: 100%;
}

/* .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
    background-color: rgba(88, 21, 28, 0.9)
} */

.background-image {
    height: 94vh;
    background-image: url(/media/slideshow-1.jpg);
    background-size: cover;
    background-position: bottom;
}


.month {
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-content {
    background-color: rgb(61, 61, 61) !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

#prev, #next {
    text-decoration: none;
    display: inline-block;
}

#prev:hover, #next:hover {
    color: #dc3545;
}

#prev, #next {
    color: #212529;
  }

.round {
    border-radius: 50%;
  }

.link-disabled {
    opacity: 0%;
    pointer-events: none;
}