<div class="push"></div>
<footer class="footer pt-2 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 address">
                <h6>
                    Barbers Flo
                </h6>
                <p class="small pb-2">
                    123, Dominick Street<br>
                    Galway<br>
                    Co. Galway<br>
                </p>
            </div>
            <div class="col-6 col-sm-3 contacts">
                <h6>
                    Contact Us
                </h6>
                <p class="small pb-2">
                    <a href="tel:+353838758944">+353 (0)83 123 4567</a><br>
                    <a href="mailto:welcome@littleflowers.com">info@barbersflo.com</a>
                </p>
            </div>
            <div class="col-6 col-sm-3 address">
                <h6>
                    Opening Hours
                </h6>
                <p class="small pb-2">
                    Monday - Friday<br>
                    08:00 - 18:00<br>
                </p>
            </div>
            <div class="col-6 col-sm-3 social">
                <h6>
                    Visit our socials
                </h6>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                            <i class="fab fa-facebook-f fa-1x" aria-hidden="true"></i>
                            <span class="sr-only">FaceBook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="noreferrer">
                            <i class="fab fa-instagram fa-1x" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank" rel="noreferrer">
                            <i class="fab fa-youtube fa-1x" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>