<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid nav-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">BARBERS FLO</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-management" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown-management">
                                <li><a class="dropdown-item" href="/management/reservations/">Reservations</a></li>
                                <li><a class="dropdown-item" href="/management/new_treatment/">Create new treatment</a></li>
                                <li><a class="dropdown-item" href="/management/get_treatment/">Manage treatments</a></li>
                                <li><a class="dropdown-item" href="/management/new_barber/">Add a barber</a></li>
                                <li><a class="dropdown-item" href="/management/get_barber/">Manage barbers</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">My Profile</a></li>
                    <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle fa-2x"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown-profile">
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <a class="btn btn-danger rounded-0" href="/booking/">BOOK NOW</a>
    </div>
</nav>