{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Management</h2>
                <h5>Manage barbers</h5>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-10">
                <form action="{% url 'get_barber' %}" method="POST">
                    {% csrf_token %}
                    <label for="barber">Select the barber you want to edit:</label>
                    <select name="barber" id="barber-select" class="form-control">
                        {% for barber in barbers %}
                            {% if barber_id == barber.id %}
                                <option value="{{ barber.id }}" selected>{{ barber.barber_name }}</option>
                            {% else %}
                                <option value="{{ barber.id }}">{{ barber.barber_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit" class="btn btn-danger my-3">
                </form>
            </div>
        </div>
        {% if barber_id %}
            <div class="row">
                <div class="col-10">
                    <form action="{% url 'edit_barber' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" id="id" name="id" value="{{ barber_id }}">
                        <input type="submit" value="Submit" class="btn btn-danger my-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark my-3" data-bs-toggle="modal" data-bs-target="#delete_modal_{{ barber_id }}">
                            Delete
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="delete_modal_{{ barber_id }}" tabindex="-1" aria-labelledby="delete_modal_{{ barber_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete {{ barber.barber_name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>Are you sure?</h4>
                                    <p>This action can't be undone!</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'delete_barber' barber_id %}" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}