{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4">Management</h2>
            <h5>Add a new barber</h5>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-10">
                <form action="{% url 'new_barber' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit" class="btn btn-danger my-3">
                </form>
            </div>
        </div>
    </div>
{% endblock %}